# Deployment signer
DEPLOYER_ACCOUNT=
DEPLOYER_ADDRESS=

# Contract constructor params
FEE_RECIPIENT_ADDRESS=
OPERATOR_ADDRESS=
RELAYER_ADDRESS=
OWNER_ADDRESS=

# RPC
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org

# Optional: Basescan verification
BASESCAN_API_KEY=
